html
  head
    title=data.show_name
  include header.pug
  body
    .video-container.mb-1
      video
        source(src='/prod-data/videos/'+data.show_name+'/'+data.file_name)
    div(class="m-3")
      h2= data.show_name
        img(src='/../../../../media/icon-chan.png' class="header-icon" style="border-radius: 50%" width="30em")
      h3= "Episode "+data.episode
      a(href='/prod-data/videos/'+data.show_name+'/'+data.file_name) Download Link
