html
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css', crossorigin='anonymous')
  nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
    img(src='/media/icon-chan.png/' class="header-icon" style="border-radius: 50%" width="30em")
    a.navbar-brand(href='/')=" AniServe"
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href='/') Home
          //- | Home 
          //- span.sr-only (current)
      li.nav-item
        a.nav-link(href='/show_list') Shows
      li.nav-item
        a.nav-link(href='/latest') Latest
