html
  title="Anime Server"
  script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css', crossorigin='anonymous')
  nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
    a.navbar-brand(href='/')
      img(src='/media/icon-chan.png' class="header-icon" style="border-radius: 50%" width="30em" class="mr-2 pb-1")  
      | Aniserve
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarColor01', aria-controls='navbarColor01', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarColor01.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='/about') About
        li.nav-item
          a.nav-link(href='/shows') Shows
        //- li.nav-tiem
        //-   a.nav-link(href='/movies') Movies
        li.nav-tiem
          a.nav-link(href='/controls') Controls
        li.nav-item
          a.nav-link(href='/latest') Latest
