html
  head
  include header.pug
  style.
    .grid-view {
      max-width: 1600px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(22.5rem, 1fr));
      grid-auto-rows: auto;
      margin: 0 auto;
      gap:1.25rem
    }

    .card[data-clickable=true]{
      cursor: pointer;
    }
  div(class="m-3")
    div(class="grid-view center")
      each episode in episode_list
        - thumbnail_src = '/prod-data/videos/'+encodeURIComponent(episode.show_name)+'/'+encodeURIComponent(episode.basename+episode.thumbnail_ext)
        - video_link = '/show/'+encodeURIComponent(episode.show_name)+'/episode/'+episode.episode
        div(class="card border border-secondary"  data-clickable="true" data-href=video_link)
          img(class="card-img-top" src=thumbnail_src onerror="if (this.src != '/media/default-image.jpg') this.src = '/media/default-image.jpg';")
          div(class="card-body")
            h5(class="card-title")= episode.show_name
            h5(class="card-text")= "Episode "+episode.episode
          
  script.
    $(document).ready(() => {
      $(document.body).on('click', '.card[data-clickable=true]', (e) => {
        var href = $(e.currentTarget).data('href');
        window.location = href;
      });
    });
