doctype html
html
  head
  include header.pug
  body
    h3(class="ml-3 mt-1")="Shows"
    each show in list
      if show.length > 0
        div(class="ml-3")= show[0].show_name
          ul
            each item in show
              - var link = '/show/'+item.show_name+'/episode/'+item.episode
              li
                a(href=link) Episode #{item.episode}
