doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='The best anime watching experience')
    meta(property='og:title', content='Aniserve')
    meta(property='og:url', content='')
    meta(property='og:description', content='The best anime watching experience')
    meta(property='og:image', content='/media/icon-chan.png')
    meta(property='og:type', content='website')

  include header.pug
  body
    h3(class="ml-3 mt-1")="Shows"
    each show in list
      if show.length > 0
        div(class="ml-3")= show[0].show_name
          ul
            each item in show
              - var link = '/show/'+item.show_name+'/episode/'+item.episode
              li
                a(href=link) Episode #{item.episode}
