doctype html
html
  head
  include ../header.pug
  div(class="m-3")
    h3 Anime Server
    p This project was solely created as technical challenge.
    p The purpose of this website is to explore the limits video delivery systems that can be created with open source tools.
    p Source Code for the project can be found here:
    p 
      a(href='https://github.com/AnirudhRahul/Anime-Server' target="_blank") https://github.com/AnirudhRahul/Anime-Server
    
