doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
  include ../header.pug
  style.
    .desc{
      font-size: 1.25em
    }
    .gh{
      font-size: 1.5em
    }
  div(class="m-3")
    h3 Aniserve
    p.desc Aniserve aims to provide the best streaming experience possible using only open source software.
    p.desc The goal of Aniserve is to illustrate that open-source software can provide a better experience than some paid streaming platforms.
    p.desc As such the selection on this site will remain very limited and is not intended to distribute content to unauthorized users.
    a(href='https://github.com/AnirudhRahul/Anime-Server' target="_blank").gh Github Project
    
