doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
  include ../header.pug
  div.m-3
    h4(class="text-info") Touchscreen Devices
    h5 Double Tap Right/Left <span>&#8594;</span> Skip Forward/Backward 10 seconds
    h5 2 Finger Tap <span>&#8594;</span> Pause/Play
    h4(class="text-info") Mouse/Trackpad Devices
    h5 Double Click <span>&#8594;</span> Fullscreen
    h4(class="text-info") Keyboard Shortcuts
    h5 Same as the shortcuts on YouTube
    h5 Space Bar or K <span>&#8594;</span> Pause/Play
    h5 Right Arrow or L <span>&#8594;</span> Seek Forward
    h5 Left Arrow or J <span>&#8594;</span> Seek Backward
