html
  head
  include ../header.pug
  div.m-3
    h4(class="text-info") Touchscreen Devices
    h5 Double Tap Right/Left <span>&#8594;</span> Skip Forward/Backward 10 seconds
    h5 2 Finger Tap <span>&#8594;</span> Pause/Play
    h4(class="text-info") Mouse/Trackpad devices
    h5 Double Click <span>&#8594;</span> Fullscreen
    h5 Keyboard shortcuts will be added soon
